# Calculate Yield Response to Variable Nitrogen Rates
---

**Name**: Adrian Correndo

**Semester**: Spring 2019

**Project area**: Agronomy

## **Objective**

Automating the calculation of grain yield (GY) response to different rates of nitrogen (N) fertilizer, related fertilizer use efficiencies (NUE). For each experiment, get the GY with no N added (Y0) and the maximum observed yield (Ymax). Create subgroups of experiments based on soil texture (STx).

## **Data example**
![Example](https://github.com/adriancorrendo/project/Scatter.JPG)

## **Outcomes**

*.csv file with up to 8 columns: Trial, STx, Nrate, GY, Y0, Ymax, NR, and NUE, where:

**-Y0**: GY when Nrate=0;
**-Ymax**: maximum observed GY;
**-NR**: abs. nitrogen response corresponding to each fertilizer rate different from 0.

Challenge could be related to: 

i) Nrate levels (# and kg applied N) vary across trials;
ii) Y0 and Ymax values happen at **Trial** level, while the NR and NUE values, at a sub-level by a given **Trial-Nrate combination**.

## **Rationale**

Database compund by hundreds of corn nitrogen fertilizer experiments. Automating these calculations will save me a significant amount of time when processing and analyzing the database.

## **Sketch**
![Main steps of the project](https://github.com/adriancorrendo/project/sketch.jpg)

## **Coding**
### Importing modules and datafile

In [232]:
import glob
import pandas as pd
import numpy as np
glob.os.chdir('C:/Users/correndo/Desktop/Coding/project2/')
data = pd.read_csv('CornNFR.csv') # File
df = pd.DataFrame(data)
df.head()

   TRIAL  TEXT  Nrate     GY
0     39  clay      0  3.700
1     39  clay     36  5.057
2     39  clay     62  5.392
3     39  clay     89  7.774
4     39  clay    116  8.765

In [237]:
sdf = df.sort_values(['TRIAL', 'Nrate'],ascending=True) # Sorting by trials and then Nrate in Ascending order
sdf = pd.DataFrame(sdf) # Print first 20 values
sdf.head(10)

     TRIAL        TEXT  Nrate      GY
329      1  silty_clay      0  13.317
330      1  silty_clay     84  14.434
331      1  silty_clay    140  15.267
332      1  silty_clay    196  15.405
333      1  silty_clay    280  15.496
334      2  silty_clay      0   6.604
335      2  silty_clay     84  10.691
336      2  silty_clay    140  11.122
337      2  silty_clay    196  11.246
338      2  silty_clay    280  11.722

In [238]:
# Filtering for N0 plots using pandas "CHAINING OPERATION" (also possible with BOOLEAN VARIABLE)
N0_plots = pd.DataFrame(sdf[sdf.Nrate == 0])
#print(N0_plots.head(10))
N0_plots.head()

     TRIAL        TEXT  Nrate      GY
329      1  silty_clay      0  13.317
334      2  silty_clay      0   6.604
9        3  loamy_sand      0   9.088
73       4   silt_loam      0   9.742
14       5  loamy_sand      0  12.172

In [239]:
# Filtering for N fertilized plots (Nrate > 0) using pandas "CHAINING OPERATION" (also possible with BOOLEAN VARIABLE)
Nf_plots = pd.DataFrame(sdf[sdf.Nrate > 0]) #could use "!= 0" command for 'different' from zero
print("The total number of N fertilized plots is:", len(Nf_plots))
Nrates = Nf_plots['Nrate'].unique().tolist()
print("The number of different N rates is:", len(Nrates))
Nrates_freq = Nf_plots['Nrate'].value_counts().tolist()
#Table with all the N rates and their frequency
Nrates = pd.DataFrame(data=({'N rate': Nrates, 'Counts': Nrates_freq}))
Nrates = Nrates.sort_values(['N rate'],ascending=True)
Nrates.head()

The total number of N fertilized plots is: 345
The number of different N rates is: 34

    N rate  Counts
26      27       1
19      36       3
27      54       1
10      56      16
20      62       3

In [240]:
#How many unique types of soil texture are in the database?
text_class = N0_plots['TEXT'].unique().tolist() 
text_freq = N0_plots['TEXT'].value_counts().tolist()
print("The number of different soil texture classes is:", len(texture))
STx = pd.DataFrame(data=({'Texture Class': text_class, 'Frequency': text_freq}))
STx

The number of different soil texture classes is: 6

     Texture Class  Frequency
0       silty_clay         36
1       loamy_sand          8
2        silt_loam          7
3       sandy_loam          4
4             clay          3
5  silty_clay_loam          1

In [245]:
trial_1 = pd.DataFrame(sdf[sdf.TRIAL == 1])
for i in trial_1:
    max_GY = trial_1.GY.max()
print('The Ymax of Trial#1 is:', max_GY, 't/ha')
trial_1.head()

The Ymax of Trial#1 is: 15.495999999999999 t/ha

     TRIAL        TEXT  Nrate      GY
329      1  silty_clay      0  13.317
330      1  silty_clay     84  14.434
331      1  silty_clay    140  15.267
332      1  silty_clay    196  15.405
333      1  silty_clay    280  15.496

In [214]:
# group data by TRIAL
trials = sdf.groupby("TRIAL")

In [302]:
# For loop to create sub data frames for each trial
for TRIAL, trials_df in trials:
    print(trials_df)

     TRIAL        TEXT  Nrate      GY
329      1  silty_clay      0  13.317
330      1  silty_clay     84  14.434
331      1  silty_clay    140  15.267
332      1  silty_clay    196  15.405
333      1  silty_clay    280  15.496
     TRIAL        TEXT  Nrate      GY
334      2  silty_clay      0   6.604
335      2  silty_clay     84  10.691
336      2  silty_clay    140  11.122
337      2  silty_clay    196  11.246
338      2  silty_clay    280  11.722
    TRIAL        TEXT  Nrate      GY
9       3  loamy_sand      0   9.088
10      3  loamy_sand     84  11.854
11      3  loamy_sand    140  12.826
12      3  loamy_sand    196  13.150
13      3  loamy_sand    280  13.086
    TRIAL       TEXT  Nrate      GY
73      4  silt_loam      0   9.742
74      4  silt_loam     84  11.287
75      4  silt_loam    140  11.037
76      4  silt_loam    196  10.963
77      4  silt_loam    280  11.473
    TRIAL        TEXT  Nrate      GY
14      5  loamy_sand      0  12.172
15      5  loamy_sand    125  12.716
16      5  loamy_sand    181  12.988
17      5  loamy_sand    237  13.637
18      5  loamy_sand    321  14.523
    TRIAL       TEXT  Nrate      GY
78      6  silt_loam      0  10.969
79      6  silt_loam    140  12.750
80      6  silt_loam    196  12.845
81      6  silt_loam    252  12.563
82      6  silt_loam    336  13.638
    TRIAL       TEXT  Nrate      GY
83      7  silt_loam      0   6.989
84      7  silt_loam    140  13.855
85      7  silt_loam    196  14.322
86      7  silt_loam    252  14.600
87      7  silt_loam    336  15.021
    TRIAL       TEXT  Nrate      GY
88      8  silt_loam      0  11.714
89      8  silt_loam     84  15.439
90      8  silt_loam    140  15.990
91      8  silt_loam    196  16.288
92      8  silt_loam    280  16.161
    TRIAL       TEXT  Nrate      GY
93      9  silt_loam      0   8.674
94      9  silt_loam    140  13.800
95      9  silt_loam    196  13.952
96      9  silt_loam    252  14.624
97      9  silt_loam    336  15.190
    TRIAL        TEXT  Nrate      GY
19     10  loamy_sand      0  13.809
20     10  loamy_sand    140  14.780
21     10  loamy_sand    196  15.366
22     10  loamy_sand    252  14.743
23     10  loamy_sand    336  15.036
     TRIAL       TEXT  Nrate      GY
98      11  silt_loam      0  12.091
99      11  silt_loam    140  13.372
100     11  silt_loam    196  12.806
101     11  silt_loam    252  13.392
102     11  silt_loam    336  12.932
    TRIAL        TEXT  Nrate      GY
48     12  sandy_loam      0  15.486
49     12  sandy_loam    140  15.214
50     12  sandy_loam    196  15.572
51     12  sandy_loam    252  14.844
52     12  sandy_loam    336  15.004
     TRIAL       TEXT  Nrate      GY
103     13  silt_loam      0   8.865
104     13  silt_loam     56  13.204
105     13  silt_loam    112  13.898
106     13  silt_loam    168  15.020
107     13  silt_loam    280  14.315
     TRIAL        TEXT  Nrate      GY
339     14  silty_clay      0   7.903
340     14  silty_clay     56  12.177
341     14  silty_clay    112  13.397
342     14  silty_clay    168  13.606
343     14  silty_clay    280  13.671
     TRIAL       TEXT  Nrate      GY
108     15  silt_loam      0  10.598
109     15  silt_loam     56  13.582
110     15  silt_loam    112  15.217
111     15  silt_loam    168  15.522
112     15  silt_loam    280  16.226
     TRIAL       TEXT  Nrate      GY
113     16  silt_loam      0  12.654
114     16  silt_loam     56  12.470
115     16  silt_loam    112  14.031
116     16  silt_loam    168  14.148
117     16  silt_loam    280  14.404
    TRIAL        TEXT  Nrate      GY
53     17  sandy_loam    118  15.168
54     17  sandy_loam    162  15.250
55     17  sandy_loam    207  16.127
56     17  sandy_loam    263  16.527
57     17  sandy_loam    375  16.803
     TRIAL       TEXT  Nrate      GY
118     18  silt_loam      0   8.643
119     18  silt_loam    112  16.795
120     18  silt_loam    168  17.095
121     18  silt_loam    224  16.844
122     18  silt_loam    336  16.460
     TRIAL       TEXT  Nrate      GY
123     19  silt_loam      0  11.668
124     19  silt_loam     56  14.945
125     19  silt_loam    112  16.030
126     19  silt_loam    168  16.481
127     19  silt_loam    280  16.749
     TRIAL       TEXT  Nrate      GY
128     20  silt_loam      0   8.789
129     20  silt_loam    112  12.176
130     20  silt_loam    168  13.843
131     20  silt_loam    224  14.267
132     20  silt_loam    336  14.229
    TRIAL        TEXT  Nrate      GY
24     21  loamy_sand      0   8.805
25     21  loamy_sand    112  14.575
26     21  loamy_sand    168  15.800
27     21  loamy_sand    224  15.667
28     21  loamy_sand    336  15.454
     TRIAL       TEXT  Nrate      GY
133     22  silt_loam      0  11.519
134     22  silt_loam    112  12.891
135     22  silt_loam    168  13.685
136     22  silt_loam    224  14.699
137     22  silt_loam    336  14.231
    TRIAL        TEXT  Nrate      GY
58     23  sandy_loam      0  11.911
59     23  sandy_loam    112  13.950
60     23  sandy_loam    168  15.540
61     23  sandy_loam    224  14.671
62     23  sandy_loam    336  15.025
     TRIAL        TEXT  Nrate      GY
344     24  silty_clay      0   9.710
345     24  silty_clay     56  13.423
346     24  silty_clay    112  14.503
347     24  silty_clay    168  15.635
348     24  silty_clay    280  14.917
     TRIAL        TEXT  Nrate      GY
349     25  silty_clay      0  10.730
350     25  silty_clay     56  12.245
351     25  silty_clay    112  15.393
352     25  silty_clay    168  15.706
353     25  silty_clay    280  15.709
    TRIAL        TEXT  Nrate      GY
29     26  loamy_sand      0   9.984
30     26  loamy_sand     56  10.757
31     26  loamy_sand    112  10.803
32     26  loamy_sand    168  11.980
33     26  loamy_sand    280  12.232
     TRIAL       TEXT  Nrate      GY
138     27  silt_loam      0  12.134
139     27  silt_loam     56  14.120
140     27  silt_loam    112  15.343
141     27  silt_loam    168  14.472
142     27  silt_loam    280  14.724
     TRIAL        TEXT  Nrate      GY
354     28  silty_clay      0  11.445
355     28  silty_clay     56  13.589
356     28  silty_clay    112  13.434
357     28  silty_clay    168  13.652
358     28  silty_clay    280  14.298
     TRIAL       TEXT  Nrate      GY
143     29  silt_loam      0  10.490
144     29  silt_loam    112  14.123
145     29  silt_loam    168  15.103
146     29  silt_loam    224  16.269
147     29  silt_loam    336  16.749
     TRIAL       TEXT  Nrate      GY
148     30  silt_loam      0  10.507
149     30  silt_loam    112  15.153
150     30  silt_loam    168  15.975
151     30  silt_loam    224  15.889
152     30  silt_loam    336  16.130
     TRIAL       TEXT  Nrate      GY
153     31  silt_loam      0  10.330
154     31  silt_loam     56  12.826
155     31  silt_loam    112  15.628
156     31  silt_loam    168  15.107
157     31  silt_loam    280  15.584
    TRIAL        TEXT  Nrate      GY
63     32  sandy_loam      0   5.638
64     32  sandy_loam    112  10.356
65     32  sandy_loam    168  12.135
66     32  sandy_loam    224  12.043
67     32  sandy_loam    336  11.803
    TRIAL        TEXT  Nrate      GY
34     33  loamy_sand      0  10.686
35     33  loamy_sand    112  13.589
36     33  loamy_sand    168  13.867
37     33  loamy_sand    224  13.966
38     33  loamy_sand    336  14.168
    TRIAL        TEXT  Nrate      GY
68     34  sandy_loam      0  12.176
69     34  sandy_loam    112  12.962
70     34  sandy_loam    168  12.858
71     34  sandy_loam    224  13.311
72     34  sandy_loam    336  12.947
     TRIAL       TEXT  Nrate      GY
158     35  silt_loam      0   4.914
159     35  silt_loam     36   6.474
160     35  silt_loam     62   8.585
161     35  silt_loam     89   9.249
162     35  silt_loam    116  11.349
163     35  silt_loam    143  10.604
164     35  silt_loam    170  11.124
165     35  silt_loam    178  11.042
166     35  silt_loam    196  11.620
     TRIAL       TEXT  Nrate      GY
167     36  silt_loam      0   6.917
168     36  silt_loam     36   9.814
169     36  silt_loam     62  12.262
170     36  silt_loam     89  12.931
171     36  silt_loam    116  13.794
172     36  silt_loam    143  13.936
173     36  silt_loam    170  13.825
174     36  silt_loam    178  15.166
175     36  silt_loam    196  14.794
     TRIAL       TEXT  Nrate      GY
176     37  silt_loam      0   5.997
177     37  silt_loam     36   7.289
178     37  silt_loam     62   8.461
179     37  silt_loam     89   9.488
180     37  silt_loam    116  10.427
181     37  silt_loam    143  10.953
182     37  silt_loam    170  11.235
183     37  silt_loam    178  10.308
184     37  silt_loam    196   9.824
     TRIAL       TEXT  Nrate      GY
185     38  silt_loam      0   3.512
186     38  silt_loam     36   4.297
187     38  silt_loam     62   6.232
188     38  silt_loam     89   6.875
189     38  silt_loam    116   8.224
190     38  silt_loam    143  10.241
191     38  silt_loam    170  10.382
192     38  silt_loam    178   8.971
193     38  silt_loam    196  11.801
   TRIAL  TEXT  Nrate      GY
0     39  clay      0   3.700
1     39  clay     36   5.057
2     39  clay     62   5.392
3     39  clay     89   7.774
4     39  clay    116   8.765
5     39  clay    143   9.899
6     39  clay    170  10.426
7     39  clay    178  10.789
8     39  clay    196  10.506
     TRIAL       TEXT  Nrate      GY
194     40  silt_loam      0   7.399
195     40  silt_loam     36   8.974
196     40  silt_loam     62  11.699
197     40  silt_loam     89  13.124
198     40  silt_loam    116  13.434
199     40  silt_loam    143  13.510
200     40  silt_loam    170  13.048
201     40  silt_loam    196  13.680
202     40  silt_loam    196  12.713
    TRIAL        TEXT  Nrate     GY
39     41  loamy_sand      0  3.153
40     41  loamy_sand     27  4.283
41     41  loamy_sand     54  7.126
42     41  loamy_sand     80  6.697
43     41  loamy_sand    107  8.044
44     41  loamy_sand    134  5.974
45     41  loamy_sand    161  9.601
46     41  loamy_sand    187  7.466
47     41  loamy_sand    214  5.906
     TRIAL       TEXT  Nrate      GY
203     42  silt_loam      0  13.277
204     42  silt_loam     36  13.789
205     42  silt_loam     62  13.970
206     42  silt_loam     89  14.132
207     42  silt_loam    116  15.308
208     42  silt_loam    143  14.516
209     42  silt_loam    170  14.994
210     42  silt_loam    196  14.676
211     42  silt_loam    196  15.639
     TRIAL        TEXT  Nrate     GY
359     43  silty_clay      0  8.337
360     43  silty_clay     36  9.290
361     43  silty_clay     62  9.019
362     43  silty_clay     89  8.709
363     43  silty_clay    116  9.107
364     43  silty_clay    143  8.865
365     43  silty_clay    170  9.632
366     43  silty_clay    196  8.552
367     43  silty_clay    196  8.087
     TRIAL       TEXT  Nrate      GY
212     44  silt_loam      0   8.493
213     44  silt_loam     27   9.767
214     44  silt_loam     54  10.956
215     44  silt_loam     80  12.820
216     44  silt_loam    107  12.639
217     44  silt_loam    134  12.576
218     44  silt_loam    161  13.265
219     44  silt_loam    187  12.173
220     44  silt_loam    214  12.516
     TRIAL       TEXT  Nrate     GY
221     45  silt_loam      0  4.937
222     45  silt_loam     36  6.377
223     45  silt_loam     62  6.748
224     45  silt_loam     89  7.248
225     45  silt_loam    116  6.807
226     45  silt_loam    143  7.059
227     45  silt_loam    170  6.515
228     45  silt_loam    196  6.788
229     45  silt_loam    196  6.572
     TRIAL        TEXT  Nrate      GY
368     46  silty_clay      0   5.273
369     46  silty_clay     36   7.373
370     46  silty_clay     62   8.982
371     46  silty_clay     89   9.506
372     46  silty_clay    116  11.156
373     46  silty_clay    143  10.420
374     46  silty_clay    170  11.381
375     46  silty_clay    196  12.444
376     46  silty_clay    196  11.668
     TRIAL       TEXT  Nrate     GY
230     47  silt_loam      0  5.863
231     47  silt_loam     27  7.027
232     47  silt_loam     54  7.901
233     47  silt_loam     80  8.306
234     47  silt_loam    107  8.214
235     47  silt_loam    134  8.608
236     47  silt_loam    161  9.448
237     47  silt_loam    187  8.935
238     47  silt_loam    214  8.725
     TRIAL       TEXT  Nrate      GY
239     48  silt_loam      0   6.249
240     48  silt_loam     36   8.917
241     48  silt_loam     62   9.826
242     48  silt_loam     89  10.692
243     48  silt_loam    116  10.715
244     48  silt_loam    143  10.913
245     48  silt_loam    170  11.591
246     48  silt_loam    178  12.435
247     48  silt_loam    196  12.728
     TRIAL             TEXT  Nrate      GY
377     49  silty_clay_loam      0   3.765
378     49  silty_clay_loam     36   5.197
379     49  silty_clay_loam     62   7.446
380     49  silty_clay_loam     89   8.668
381     49  silty_clay_loam    116   9.846
382     49  silty_clay_loam    143  11.693
383     49  silty_clay_loam    170  12.079
384     49  silty_clay_loam    178  10.993
385     49  silty_clay_loam    196  12.281
     TRIAL       TEXT  Nrate      GY
248     50  silt_loam      0  10.107
249     50  silt_loam     36  12.834
250     50  silt_loam     62  15.272
251     50  silt_loam     89  12.780
252     50  silt_loam    116  13.851
253     50  silt_loam    143  13.528
254     50  silt_loam    170  15.133
255     50  silt_loam    178  14.418
256     50  silt_loam    196  14.630
     TRIAL       TEXT  Nrate      GY
257     51  silt_loam      0  10.107
258     51  silt_loam     36  12.834
259     51  silt_loam     62  13.992
260     51  silt_loam     89  13.669
261     51  silt_loam    116  14.937
262     51  silt_loam    143  14.440
263     51  silt_loam    170  14.701
264     51  silt_loam    178  14.418
265     51  silt_loam    196  14.249
     TRIAL       TEXT  Nrate     GY
266     52  silt_loam      0  4.157
267     52  silt_loam     36  5.037
268     52  silt_loam     62  5.529
269     52  silt_loam     89  4.869
270     52  silt_loam    116  5.815
271     52  silt_loam    143  6.280
272     52  silt_loam    170  6.866
273     52  silt_loam    178  6.710
274     52  silt_loam    196  6.729
     TRIAL       TEXT  Nrate     GY
275     53  silt_loam      0  4.157
276     53  silt_loam     36  5.037
277     53  silt_loam     62  5.989
278     53  silt_loam     89  5.443
279     53  silt_loam    116  5.637
280     53  silt_loam    143  6.434
281     53  silt_loam    170  6.500
282     53  silt_loam    178  6.710
283     53  silt_loam    196  6.599
     TRIAL             TEXT  Nrate      GY
386     54  silty_clay_loam      0   8.140
387     54  silty_clay_loam     36   9.076
388     54  silty_clay_loam     62   9.655
389     54  silty_clay_loam     89  10.629
390     54  silty_clay_loam    116  10.473
391     54  silty_clay_loam    143  10.545
392     54  silty_clay_loam    170  10.995
393     54  silty_clay_loam    178  10.973
394     54  silty_clay_loam    196  11.139
     TRIAL             TEXT  Nrate      GY
395     55  silty_clay_loam      0   8.140
396     55  silty_clay_loam     36   9.076
397     55  silty_clay_loam     62   9.977
398     55  silty_clay_loam     89  10.279
399     55  silty_clay_loam    116  10.208
400     55  silty_clay_loam    143  10.497
401     55  silty_clay_loam    170  10.703
402     55  silty_clay_loam    178  10.973
403     55  silty_clay_loam    196  10.427
     TRIAL       TEXT  Nrate      GY
284     56  silt_loam      0  10.334
285     56  silt_loam     36  12.577
286     56  silt_loam     62  11.779
287     56  silt_loam     89  11.005
288     56  silt_loam    116  13.250
289     56  silt_loam    143  12.717
290     56  silt_loam    170  13.810
291     56  silt_loam    178  11.483
292     56  silt_loam    196  10.858
     TRIAL       TEXT  Nrate      GY
293     57  silt_loam      0  10.334
294     57  silt_loam     36  12.577
295     57  silt_loam     62  13.512
296     57  silt_loam     89  10.662
297     57  silt_loam    116  13.015
298     57  silt_loam    143  12.640
299     57  silt_loam    170  10.020
300     57  silt_loam    178  11.483
301     57  silt_loam    196  14.265
     TRIAL       TEXT  Nrate      GY
302     58  silt_loam      0   5.245
303     58  silt_loam     36   6.935
304     58  silt_loam     62   9.833
305     58  silt_loam     89  10.225
306     58  silt_loam    116  11.199
307     58  silt_loam    143  12.046
308     58  silt_loam    170  12.638
309     58  silt_loam    178  13.112
310     58  silt_loam    196  13.203
     TRIAL       TEXT  Nrate      GY
311     59  silt_loam      0   5.245
312     59  silt_loam     36   6.935
313     59  silt_loam     62   9.963
314     59  silt_loam     89   9.814
315     59  silt_loam    116  11.353
316     59  silt_loam    143  11.214
317     59  silt_loam    170  12.468
318     59  silt_loam    178  13.112
319     59  silt_loam    196  11.402
     TRIAL       TEXT  Nrate      GY
320     60  silt_loam      0   5.799
321     60  silt_loam     36   7.977
322     60  silt_loam     62   9.405
323     60  silt_loam     89  11.738
324     60  silt_loam    116  11.851
325     60  silt_loam    143  11.248
326     60  silt_loam    170  12.246
327     60  silt_loam    178  12.697
328     60  silt_loam    196  11.180

In [310]:
for i in trials:
    max = trials.GY.max()
Ymax = pd.DataFrame(max)
Ymax.columns = ['GYmax']
Ymax.head()

        GYmax
TRIAL
1      15.496
2      11.722
3      13.150
4      11.473
5      14.523

Merge data of Y0 and Ymax data

In [360]:
df_Y = pd.DataFrame(pd.merge(N0_plots, Ymax, on='TRIAL'))

In [361]:
df_Y = df_Y.drop(columns=['Ymax', 'Nrate'])
df_Y.columns = ['TRIAL', 'STx', 'Y0', 'Ymax']
df_Y.head()

   TRIAL         STx      Y0    Ymax
0      1  silty_clay  13.317  15.496
1      2  silty_clay   6.604  11.722
2      3  loamy_sand   9.088  13.150
3      4   silt_loam   9.742  11.473
4      5  loamy_sand  12.172  14.523

In [362]:
for i in df_Y:
    Max_Nresp = df_Y.Ymax - df_Y.Y0
Max_Nresp = pd.DataFrame(Max_Nresp)
Max_Nresp.columns = ['MaxNR']
Max_Nresp.head()

   MaxNR
0  2.179
1  5.118
2  4.062
3  1.731
4  2.351

In [363]:
df_Y.insert(4, 'Delta-Y', Max_Nresp.MaxNR)
df_Y.head()

   TRIAL         STx      Y0    Ymax  Delta-Y
0      1  silty_clay  13.317  15.496    2.179
1      2  silty_clay   6.604  11.722    5.118
2      3  loamy_sand   9.088  13.150    4.062
3      4   silt_loam   9.742  11.473    1.731
4      5  loamy_sand  12.172  14.523    2.351

**Next Steps:**
 - Exploring N responses to each fertilizer rate.
 - Estimating their corresponding efficiencies.

In [ ]:
NR = GY(for j in Nrate if Nrate > 0) - GY (when Nrate ==0) # 'j' is a level of Nrate nested in TRIAL